{% load static %}

<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>MeCeeGames</title>
		<meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1">
		<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
		<link href="{% static 'css/styles.css' %}" rel="stylesheet">
		
		<link rel="apple-touch-icon" sizes="57x57" href="/static/imgs/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/static/imgs/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/imgs/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/imgs/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/static/imgs/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/imgs/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/imgs/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/imgs/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/static/imgs/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/static/imgs/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/imgs/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/static/imgs/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/imgs/favicon/favicon-16x16.png">
		<link rel="manifest" href="/static/imgs/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		
		<style>
			.mySlides {display:none}
			.w3-left, .w3-right, .w3-badge {cursor:pointer}
			.w3-badge {height:13px;width:13px;padding:0}
		</style>
	</head>
	<body class="w3-black">
		<div class="w3-bar">
			<a href="http://www.meceegames.com"><img class="w3-image w3-left w3-padding-16 w3-bar-item" src="/static/imgs/NameImage_3.png" alt="MeCeeGames"></a>
			<div class="w3-right w3-padding-16 w3-bar-item">		
				<a class=" w3-btn w3-black w3-border w3-border-black w3-round-xxlarge" href="#">Contact</a>
				<a class=" w3-btn w3-black w3-border w3-border-black w3-round-xxlarge" href="#">About</a>
				<a class=" w3-btn w3-black w3-border w3-border-black w3-round-xxlarge" href="http://www.meceegames.com">Home</a>
			</div>
		</div>
		<hr></hr>
		<!-- <div class="w3-container">
			<h2>Slideshow Indicators</h2>
			<p>An example of using buttons to indicate how many slides there are in the slideshow, and which slide the user is currently viewing.</p>
		</div> -->

		<div class="w3-content w3-display-container" style="max-width:100% max-height:75%">
		  <img class="mySlides" src="/static/imgs/splash1.png" style="width:100%">
		  <img class="mySlides" src="/static/imgs/splash2.png" style="width:100%">
		  <img class="mySlides" src="/static/imgs/splash9.png" style="width:100%">
		  <img class="mySlides" src="/static/imgs/splash4.png" style="width:100%">
		  <img class="mySlides" src="/static/imgs/splash5.png" style="width:100%">
		  <img class="mySlides" src="/static/imgs/splash6.png" style="width:100%">
		  <div class="w3-center w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
			<div class="w3-left w3-padding-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
			<div class="w3-right w3-padding-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
			<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
			<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
			<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
			<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
			<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(5)"></span>
			<span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(6)"></span>
		  </div>
		</div>

		<script>
			var slideIndex = 1;
			showDivs(slideIndex);

			function plusDivs(n) {
			  showDivs(slideIndex += n);
			}

			function currentDiv(n) {
			  showDivs(slideIndex = n);
			}

			function showDivs(n) {
			  var i;
			  var x = document.getElementsByClassName("mySlides");
			  var dots = document.getElementsByClassName("demo");
			  if (n > x.length) {slideIndex = 1}    
			  if (n < 1) {slideIndex = x.length}
			  for (i = 0; i < x.length; i++) {
				 x[i].style.display = "none";  
			  }
			  for (i = 0; i < dots.length; i++) {
				 dots[i].className = dots[i].className.replace(" w3-white", "");
			  }
			  x[slideIndex-1].style.display = "block";  
			  dots[slideIndex-1].className += " w3-white";
			}
		</script>
		
		<hr>
		<div class="w3-row w3-padding-16 w3-white w3-navbar">
			<div class="w3-container w3-center w3-third">
				<img src="/static/imgs/img1.png" alt="img1">
				<h3>Download Games</h3>
				<p class="">Download a game and check it out. Most games need no internet, so you can play them offline.</p>
				<button class="w3-btn w3-white w3-border w3-border-black w3-round-xxlarge"><a href="#">Contact</a></button>
			</div>
			<div class="w3-container w3-center w3-third">
				<img src="/static/imgs/img2.png" alt="img2">
				<h3>Upcoming Games</h3>
				<p class="">See what MeCee Games is releasing or has in development.</p>
				<button class="w3-btn w3-white w3-border w3-border-black w3-round-xxlarge"><a href="#">Contact</a></button>
			</div>
			<div class="w3-container w3-center w3-third">
				<img src="/static/imgs/img3.png" alt="img3">
				<h3>Game Release Dates</h3>
				<p class="">See the expected release dates of upcoming games and other items.</p>
				<button class="w3-btn w3-white w3-border w3-border-black w3-round-xxlarge"><a href="#">Contact</a></button>
			</div>
		</div>
		
		<img class="w3-image w3-padding-16" src="/static/imgs/splash7.png" alt="splash-image" style="max-width:100% max-height:75%">
		
		<div class="w3-row w3-padding-16 w3-white w3-navbar">
			<div class="w3-container w3-center w3-third">
				<img src="/static/imgs/img1.png" alt="img1">
				<h3>The Process...</h3>
				<p class="">How do we choose what games we are going to produce.</p>
				<button class="w3-btn w3-white w3-border w3-border-black w3-round-xxlarge"><a href="#">Contact</a></button>
			</div>
			<div class="w3-container w3-center w3-third">
				<img src="/static/imgs/img2.png" alt="img2">
				<h3>The Crew!</h3>
				<p class="">Meet the developer, artists and designers responsible for our great games.</p>
				<button class="w3-btn w3-white w3-border w3-border-black w3-round-xxlarge"><a href="#">Contact</a></button>
			</div>
			<div class="w3-container w3-center w3-third">
				<img src="/static/imgs/img3.png" alt="img3">
				<h3>Investors</h3>
				<p class="">We are looking for investors to contribute and enjoy the spoils.</p>
				<button class="w3-btn w3-white w3-border w3-border-black w3-round-xxlarge"><a href="#">Contact</a></button>
			</div>
		</div>
		<div class="w3-footer">
		</hr>
		<p class="w3-center">MeCee Games Inc. &copy; 2015 - FaceBook / Twitter / Google / Youtube / Pinterest</p>
		</div>
	</body>
</html>