body {
	font-family: Verdona, sans-serif;
	font-size: 0.8em;
	
}
header, nav, section, article, footer {
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
}
nav ul {
	margin: 0px;
	padding: 0px;
}
nav ul li {
	display: inline;
	margin: 5px;
}